## Descrição do Notebook

> Este foi a prmeira versão do notebook **somente com a base de dados original**

In [1]:
import pandas as pd
import xlrd

from datetime import datetime
import numpy as np
import seaborn as sns

In [2]:

df = pd.read_excel("base_dados.xlsx", sheet_name = "2158151")
df_cheio =  pd.read_excel("base_dados.xlsx", sheet_name = None)

def trata_df(dataframe):
    df = dataframe.iloc[:, 0].str.split(';', expand=True)
    df.columns = [n.replace('"', '') for n in  dataframe.columns.str.split(';')[0]]
    return df

for i in range(len(list(df_cheio.keys()))-1):
    chaves = list(df_cheio.keys())
    df = pd.concat([df, df_cheio[chaves[i+1]]])

df_tratado = trata_df(df)
data = [xlrd.xldate_as_datetime(int(nume), 0).strftime("%d-%m-%Y") for nume in df_tratado["DATA_TRAT."]]
df_tratado['DATA_TRAT.'] = data
df_tratado["DATA_TRAT."] = [datetime.strptime(x, "%d-%m-%Y") for x in df_tratado["DATA_TRAT."]]

Transformando as colunas para valores numéricos para que possam ser agregadas

In [120]:
def isfloat(str):
    try: 
        float(str)
    except ValueError: 
        return False
    return True

In [121]:
# Retirando os dados que não tem preço pois não tiveram vendas 
df_tratado = df_tratado.loc[df_tratado["Preço"].str.replace(',', '.').apply(isfloat)]

# Tratando os dados  e fazendo casting para float
df_tratado["Vendas Reais Qtde"] = df_tratado["Vendas Reais Qtde"].astype("float")
df_tratado["Vendas Reais $"] = df_tratado["Vendas Reais $"].str.replace(",", ".").astype("float")
df_tratado["CMV"] = df_tratado["CMV"].str.replace(",", ".").astype("float")
df_tratado["preço2"] = df_tratado["preço2"].str.replace(",", ".").astype("float")
df_tratado["CMV/QTD"] = df_tratado["CMV/QTD"].str.replace(",", ".").astype("float")
df_tratado["Mg %"] = df_tratado["Mg %"].str.replace(",", ".").astype("float")
df_tratado["Margem Líquida Real %"] = df_tratado["Margem Líquida Real %"].str.replace(",", ".").astype("float")
df_tratado["Margem Líquida Real $"] = df_tratado["Margem Líquida Real $"].str.replace(",", ".").astype("float")
df_tratado["Venda Líquida Real $"] = df_tratado["Venda Líquida Real $"].str.replace(",", ".").astype("float")
df_tratado["Preço"] = df_tratado["Preço"].str.replace(",", ".").astype("float")

# Criando colunas de Semana e Ano para auxiliar na agregação
df_tratado.reset_index(inplace = True, drop = True)
df_tratado["Semana"] = [x.isocalendar()[1] for x in df_tratado["DATA_TRAT."]]
df_tratado["Ano"] = df_tratado["DATA_TRAT."].dt.year

Agrupando os dados por semana.

* Tira-se a média para as colunas CMV, preço2, CMV/QTD, MG%, Margem Líquida Real % e Preço
* Soma-se as demais outras colunas

In [122]:
df_tratado

,SAP+NOME,UF,DATA_TRAT.,Vendas Reais Qtde,Vendas Reais $,CMV,Margem Líquida Real %,Margem Líquida Real $,Venda Líquida Real $,Preço,preço2,CMV/QTD,Mg %,Semana,Ano
0,000000000002158151 - T VISITA P BORDA DESIRE A...,AC,2017-01-12,1.0,4.99,1.75,52.445652,1.93,3.68,4.99,4.99,1.75,0.524457,2,2017
1,000000000002158151 - T VISITA P BORDA DESIRE A...,AC,2017-01-15,1.0,4.99,1.81,50.815217,1.87,3.68,4.99,4.99,1.81,0.508152,2,2017
2,000000000002158151 - T VISITA P BORDA DESIRE A...,AC,2017-01-16,1.0,4.99,1.81,50.815217,1.87,3.68,4.99,4.99,1.81,0.508152,3,2017
3,000000000002158151 - T VISITA P BORDA DESIRE A...,AC,2017-01-22,2.0,9.98,3.62,50.815217,3.74,7.36,4.99,4.99,1.81,0.508152,3,2017
4,000000000002158151 - T VISITA P BORDA DESIRE A...,AC,2017-02-12,1.0,2.99,1.81,17.727273,0.39,2.20,2.99,2.99,1.81,0.177273,6,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101463,000000000004270164 - DESINF LIQ PINHO SOL ORIG...,TO,2018-04-14,1.0,4.99,2.45,32.692308,1.19,3.64,4.99,4.99,2.45,0.326923,15,2018
101464,000000000004270164 - DESINF LIQ PINHO SOL ORIG...,TO,2018-04-16,1.0,4.99,2.45,32.506887,1.18,3.63,4.99,4.99,2.45,0.325069,16,2018
101465,000000000004270164 - DESINF LIQ PINHO SOL ORIG...,TO,2018-04-17,1.0,4.99,2.46,32.417582,1.18,3.64,4.99,4.99,2.46,0.324176,16,2018
101466,000000000004270164 - DESINF LIQ PINHO SOL ORIG...,TO,2018-04-18,1.0,4.99,2.45,32.692308,1.19,3.64,4.99,4.99,2.45,0.326923,16,2018
101467,000000000004270164 - DESINF LIQ PINHO SOL ORIG...,TO,2018-04-25,1.0,4.99,2.45,32.692308,1.19,3.64,4.99,4.99,2.45,0.326923,17,2018

In [123]:
df_agg = df_tratado[["SAP+NOME", "UF", "Ano", "Semana",  "preço2", "Mg %",
                     "Margem Líquida Real %", "Preço"]].groupby(["SAP+NOME", "UF", "Semana", "Ano"]).mean().reset_index()

df_agg_sum = df_tratado[["SAP+NOME", "UF", "Ano", "Semana", "Vendas Reais Qtde", "Vendas Reais $",
                     "Margem Líquida Real $", "Venda Líquida Real $", "CMV"]]. \
             groupby(["SAP+NOME", "UF", "Semana", "Ano"]).sum().reset_index()
df_agg_sum["CMV/QTD"] = df_agg_sum["CMV"] / df_agg_sum["Vendas Reais Qtde"]

Unindo os dois *dataframes* de agregação criados para chegar ao *dataset* que será depositado no *Data Lake*

In [124]:
df_final = df_agg.copy()
df_final = df_final.merge(df_agg_sum, on = ["SAP+NOME", "UF", "Ano", "Semana"], how = "inner")
df_final

,SAP+NOME,UF,Semana,Ano,preço2,Mg %,Margem Líquida Real %,Preço,Vendas Reais Qtde,Vendas Reais $,Margem Líquida Real $,Venda Líquida Real $,CMV,CMV/QTD
0,000000000002158151 - T VISITA P BORDA DESIRE A...,AC,2,2017,4.99,0.516304,51.630435,4.99,2.0,9.98,3.80,7.36,3.56,1.780000
1,000000000002158151 - T VISITA P BORDA DESIRE A...,AC,2,2018,3.99,0.341837,34.183673,3.99,4.0,15.96,4.02,11.76,7.74,1.935000
2,000000000002158151 - T VISITA P BORDA DESIRE A...,AC,3,2017,4.99,0.508152,50.815217,4.99,3.0,14.97,5.61,11.04,5.43,1.810000
3,000000000002158151 - T VISITA P BORDA DESIRE A...,AC,3,2018,3.99,0.340136,34.013605,3.99,1.0,3.99,1.00,2.94,1.94,1.940000
4,000000000002158151 - T VISITA P BORDA DESIRE A...,AC,5,2018,5.99,0.520988,52.098765,5.49,1.0,5.49,2.11,4.05,1.94,1.940000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19645,000000000004270164 - DESINF LIQ PINHO SOL ORIG...,TO,13,2018,4.99,0.325446,32.544640,4.99,8.0,39.92,9.47,29.09,19.62,2.452500
19646,000000000004270164 - DESINF LIQ PINHO SOL ORIG...,TO,14,2018,4.99,0.325698,32.569809,4.99,5.0,24.95,5.92,18.19,12.27,2.454000
19647,000000000004270164 - DESINF LIQ PINHO SOL ORIG...,TO,15,2018,4.99,0.324619,32.461856,4.99,2.0,9.98,2.36,7.27,4.91,2.455000
19648,000000000004270164 - DESINF LIQ PINHO SOL ORIG...,TO,16,2018,4.99,0.325389,32.538926,4.99,3.0,14.97,3.55,10.91,7.36,2.453333
19649,000000000004270164 - DESINF LIQ PINHO SOL ORIG...,TO,17,2018,4.99,0.326923,32.692308,4.99,1.0,4.99,1.19,3.64,2.45,2.450000

In [125]:
df_final = df_final.loc[(df_final["Vendas Reais Qtde"] != 0.0) & (df_final["CMV/QTD"].notna())]

Gerando o *dataset* final:

In [127]:
df_final.head()

,SAP+NOME,UF,Semana,Ano,preço2,Mg %,Margem Líquida Real %,Preço,Vendas Reais Qtde,Vendas Reais $,Margem Líquida Real $,Venda Líquida Real $,CMV,CMV/QTD
0,000000000002158151 - T VISITA P BORDA DESIRE A...,AC,2,2017,4.99,0.516304,51.630435,4.99,2.0,9.98,3.80,7.36,3.56,1.780
1,000000000002158151 - T VISITA P BORDA DESIRE A...,AC,2,2018,3.99,0.341837,34.183673,3.99,4.0,15.96,4.02,11.76,7.74,1.935
2,000000000002158151 - T VISITA P BORDA DESIRE A...,AC,3,2017,4.99,0.508152,50.815217,4.99,3.0,14.97,5.61,11.04,5.43,1.810
3,000000000002158151 - T VISITA P BORDA DESIRE A...,AC,3,2018,3.99,0.340136,34.013605,3.99,1.0,3.99,1.00,2.94,1.94,1.940
4,000000000002158151 - T VISITA P BORDA DESIRE A...,AC,5,2018,5.99,0.520988,52.098765,5.49,1.0,5.49,2.11,4.05,1.94,1.940

In [130]:
df_final.to_csv("df_rpo.csv", index = False)

Portanto, *df_rpo.csv* possui APENAS dos dados originais
* Itens com venda 0 e sem preço, foram retirados.